<div>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Id</th>
  </tr>
  <% @rs.each do |row| %>
  <tr>
    <td><%= row['name'] %></td>
    <td><%= row['price'] %></td>
    <td><%= row['id'] %></td>
    <td><% if row['on_sale'] == 't' %>
        <img src='../sale_pic.jpg' />
          <% end %></td>
    <td><a class="regular" href="/products/<%= row['id'] %>/edit"><button>UPDATE</button></a></td>
    <td><form action="/products/<%= row['id'] %>/destroy" method="post"><button>DELETE</button></form></td>
  </tr>
  <% end %>
</table>
</div>

<a href='/'> Back </a>